
h1 { font-family: Arial;
 text-align: center;
color: brown;
font-size: 40px;

}

h2 {font-family: verdana;
 text-align: left;
color: green;
font-size: 30px;}
p  {
    color: steelblue;
    font-family: courier;
    font-size: 22px;
    text-align: left;
}


<body>

<h1>  JURAEV AZAMAT CHORIEVICH</h1>


<h2> Student Informations:</h2>
     <p> Student ID: U1410116</p>
     <p>Group Number: 003</p>
     <p> Email: a.juraev@student.inha.uz</p>
<h1>Robin Hood (2018) </h1>
<h2>Genre: Adventure, Thriller, Action | Release date: 21 November 2018 (USA) | </h2>

<p>A war-hardened Crusader and his Moorish commander mount an audacious revolt against the corrupt English crown in a thrilling action-adventure packed with gritty battlefield exploits, mind-blowing fight choreography, and a timeless romance.
Director: Otto Bathurst
Writers: Ben Chandler (screenplay by), David James Kelly (screenplay by) | 1 more credit »
Stars: Taron Egerton, Jamie Foxx, Ben Mendelsohn</p>
<h1>Creed II</h1>
<h2>Genre: Drama, Sport | Release Date: 21 November 2018 (USA) </h2>
<p>Under the tutelage of Rocky Balboa, light heavyweight contender Adonis Creed faces off against Viktor Drago, son of Ivan Drago.
Director: Steven Caple Jr.
Writers: Cheo Hodari Coker (story by), Ryan Coogler
Stars: Michael B. Jordan, Sylvester Stallone, Tessa Thompson</p>
<h1>Becoming Astrid</h1>
<h2>Genre: Biography, Drama | Release Date: 14 September 2018 (Sweden) </h2>
<p>Biopic of Swedish writer Astrid Lindgren, the author of numerous children's books and creator of Pippi Longstocking.
Director: Pernille Fischer Christensen
Writers: Kim Fupz Aakeson, Pernille Fischer Christensen
Stars: Alba August, Trine Dyrholm, Maria Bonnevie</p>
<h1>Bohemian Rhapsody</h1>
<h2>Genre: Biography, Drama, Music | Release Date: 2 November 2018 (USA)</h2>
<p>A chronicle of the years leading up to Queen's legendary appearance at the Live Aid (1985) concert.
Director: Bryan Singer
Writers: Anthony McCarten (story by), Peter Morgan
Stars: Rami Malek, Lucy Boynton, Gwilym Lee</p>
       
</body>



